Faker==26.0.0
coverage==7.6.0
dirty-equals==0.7.1.post0
hypothesis==6.108.1
hypothesis-jsonschema==0.23.1
hypothesis-networkx==0.3.0
nox==2024.4.15
pygments==2.18.0
pyperf==2.7.0
pytest==8.2.2
pytest-asyncio==0.23.7
# pytest-cases==3.8.2
pytest-check==2.3.1
pytest-check-links==0.10.1
# pytest-checkdocs==2.13.0
pytest_codeblocks==0.17.0
pytest-cov==5.0.0
pytest-flake8==1.1.1
pytest-harvest==1.10.5
pytest-html==4.1.1
pytest-mock==3.14.0
# pytest-profiling==1.7.0
pytest-pydocstyle==2.3.2
pytest-race==0.2.0
pytest-reporter==0.5.3
pytest-shell==0.3.2
pytest-sherlock==0.3.4
pytest-shutil==1.7.0
pytest-snapshot==0.9.0
pytest-speed==0.3.5
pytest-steps==1.8.0
pytest-subprocess==1.5.0
pytest-subtests==0.13.0
pytest-sugar==1.0.0
pytest-tap==3.4
pytest-threadleak==0.5.0
pytest-timeout==2.3.1
pytest-todo==0.2.1
pytest-unordered==0.6.1
pytest-xdist==3.6.1
requests==2.32.3
robotframework==7.0.1
ward==0.68.0b0
