Faker==17.6.0
coverage==7.2.2
dirty-equals==0.5.0
hypothesis==6.70.0
pygments==2.14.0
pyperf==2.5.0
pytest==7.2.2
pytest-asyncio==0.21.0
pytest-benchmark==4.0.0
pytest-cases==3.6.14
pytest-check==2.1.4
pytest-check-links==0.8.0
pytest-checkdocs==2.9.0
pytest_codeblocks==0.16.1
pytest-cov==4.0.0
pytest-flake8==1.1.1
pytest-harvest==1.10.4
pytest-mock==3.10.0
pytest-pydocstyle==2.3.2
pytest-race==0.2.0
pytest-reporter==0.5.2
pytest-shell==0.3.2
pytest-sherlock==0.3.1
pytest-shutil==1.7.0
pytest-snapshot==0.9.0
pytest-steps==1.8.0
pytest-subprocess==1.5.0
pytest-subtests==0.10.0
pytest-sugar==0.9.6
pytest-tap==3.3
pytest-threadleak==0.5.0
pytest-todo==0.2.1
pytest-unordered==0.5.2
pytest-xdist==3.2.1
robotframework==6.0.2
