Faker==19.6.0
coverage==7.3.1
dirty-equals==0.6.0
hypothesis==6.84.3
nox==2023.4.22
pygments==2.16.1
pyperf==2.6.1
pytest==7.4.2
pytest-asyncio==0.21.1
pytest-benchmark==4.0.0
pytest-cases==3.6.14
pytest-check==2.2.1
pytest-check-links==0.9.0
pytest-checkdocs==2.10.1
pytest_codeblocks==0.16.1
pytest-cov==4.1.0
pytest-flake8==1.1.1
pytest-harvest==1.10.4
pytest-html==4.0.1
pytest-mock==3.11.1
pytest-profiling==1.7.0
pytest-pydocstyle==2.3.2
pytest-race==0.2.0
pytest-reporter==0.5.2
pytest-shell==0.3.2
pytest-sherlock==0.3.4
pytest-shutil==1.7.0
pytest-snapshot==0.9.0
pytest-steps==1.8.0
pytest-subprocess==1.5.0
pytest-subtests==0.11.0
pytest-sugar==0.9.7
pytest-tap==3.4
pytest-threadleak==0.5.0
pytest-timeout==2.1.0
pytest-todo==0.2.1
pytest-unordered==0.5.2
pytest-xdist==3.3.1
requests==2.31.0
robotframework==6.1.1
ward==0.67.2b0
