GitPython==3.1.43
Jinja2==3.1.4
Pympler==1.1
attrs==24.2.0
bandit==1.7.9
black==24.8.0
bumper==0.1.13
cattrs==24.1.0
cogapp==3.4.1
cyclonedx-bom==4.5.0
dulwich==0.22.1
everett==3.3.0
# filprofiler==2023.3.1
first==2.0.2
flake8==7.1.1
flake8-quotes==3.4.0
graphviz==0.20.3
guppy3==3.1.4.post1
httpx==0.27.2
icdiff==2.0.7
icecream==2.1.3
ipdb==0.13.13
ipython==8.27.0
isort==5.13.2
line-profiler==4.1.3
memory-profiler==0.61.0
mypy==1.11.2
objgraph==3.6.1
packaging==24.1
pdoc==14.6.1
pip-licenses==5.0.0
pip-requirements-parser==32.0.1
pip-tools==7.4.1
pipdeptree==2.23.1
# prospector==1.8.1
py-cpuinfo==9.0.0
# py-sbom-components==0.2.1
pycodestyle==2.12.1
pydocstyle==6.3.0
pyflakes==3.2.0
pyinstrument==4.7.3
python-configuration==0.12.1
pymdown-extensions==10.9
pypistats==1.6.0
pyupgrade==3.17.0
railroad-diagrams==3.0.1
# refurb==1.4.0
ruff==0.6.4
scalene==1.5.44.1
setuptools==74.1.2
setuptools-scm==8.1.0
sqlfluff==3.1.1
stamina==24.3.0
structlog==24.4.0
twine==5.1.1
types-Markdown==3.7.0.20240822
types-PyYAML==6.0.12.20240808
types-first==2.0.5.20240806
types-jmespath==1.0.2.20240106
types-requests==2.32.0.20240907
types-setuptools==74.1.0.20240907
types-toml==0.10.8.20240310
validate-pyproject==0.19
