Jinja2==3.1.2
Pympler==1.0.1
bandit==1.7.5
black==23.3.0
bumper==0.1.13
cogapp==3.3.0
cyclonedx-bom==3.11.0
filprofiler==2023.3.1
first==2.0.2
flake8==6.0.0
flake8-quotes==3.3.2
graphviz==0.20.1
guppy3==3.1.2
icecream==2.1.3
ipdb==0.13.13
isort==5.12.0
line-profiler==4.0.3
memory-profiler==0.61.0
mkautodoc==0.2.0
mkdocstrings==0.21.2
mypy==1.2.0
objgraph==3.5.0
packaging==23.0
pip-licenses==4.1.0
pip-requirements-parser==32.0.1
pipdeptree==2.7.0
# prospector==1.8.1
py-cpuinfo==9.0.0
# py-sbom-components==0.2.1
pycodestyle==2.10.0
pydocstyle==6.3.0
pyflakes==3.0.1
pyinstrument==4.4.0
pyupgrade==3.3.1
railroad-diagrams==3.0.1
# refurb==1.4.0
ruff==0.0.261
scalene==1.5.20
setuptools==67.6.1
setuptools-scm==7.1.0
twine==4.0.2
types-Markdown==3.4.2.7
types-PyYAML==6.0.12.9
types-first==2.0.5.1
types-jmespath==1.0.2.6
types-requests==2.28.11.17
types-setuptools==67.6.0.7
types-toml==0.10.8.6
validate-pyproject==0.12.2
